html,body.heading {
    padding-top: 2em;
    text-align: center;
    width: 100%;
    margin:0 auto;
}

@font-face {
    font-family: 'gireg';
    src: url(font/GlacialIndifference-Regular.otf);
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gibold';
    src: url(font/GlacialIndifference-Bold.otf);
    font-weight: normal;
    font-style: normal;
}

p{
    font-family: 'gireg';
}

h1{
    font-family: 'gibold';
    font-size: 32pt;
}

.image-cropper {
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
img {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: auto;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20.75%;
  }